@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001a49b9;
}

.saludo{
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#0000008c 80%, #0000008c 80%), url('../image/index/animas.png');
    background-size: cover;

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);

}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

/*.hero::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#0000008c 0%, #0000008c 100%), url('../image/index/animas.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;


}*/

/******* NAV *******/

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
}

.nav_title:hover{
    font-weight: 700;
    color:goldenrod;
    cursor: pointer;
}

.nav_items{
    list-style: none;
}


.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_links{
    color:#fff;
    text-decoration:none;
    cursor: pointer;
}

.nav_links:hover{
    color:#1d293f;

}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display:flex;
    width:auto;
}

.nav_close{
    display: var(--show, none);
}

/*********************************************** MEDIA QUERIES *******/

@media (max-width:800px){
    .nav_menu{
        display: block;
    }

    .nav_link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav_link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
}