@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500;1,700&family=Raleway:wght@200;300;400&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background: url('/img/cielo.png') center/ cover;
}


.content {
    padding: 10px;

   
}

.fb-comments {
    width: 100vh;
    background-color: #f8edeb;
}

.span {
    background-color: #caffbf;
    color: #333;
    margin: 15px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    transition: .3s;
}

.span:hover{
    background-color: #ff5c8a ;
    color: #fff;
    font: bold;
    font-size: 18px;


}



.plan {
    color: #333;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.dia {
    text-align: center;
    color: #0c0e03;
}

.ejercicio {
    background-color: #05668d;
    color: #fff;
    text-align: center;

}

.entrada-calor {
    padding: 5px;
    text-align: center;
}

.nivel-a {
    padding: 5px;
    background-color: #fdffb6;
}

.nivel-b {
    padding: 5px;
    background-color: #caffbf;
}

.nivel-c {
    padding: 5px;
    background-color: #9bf6ff;
}

.objetivo {
    padding: 5px;
    background-color: #ff5c8a;
}

.nota {
    padding: 5px;
    background-color: #ff99ac;
}

.especifico {
    padding: 5px;
    background-color: rgb(255, 240, 241);
}

.coment {
    text-align: center;
}

.explicacion {

    background-color: #333;
    color: #fdffb6;
    margin: 7px;
}